

.cards {

    display: flex;
    margin-top: 40px;

}

.card {

    display: flex;
    margin: 5px;
}

.card-img-custom {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.navbar {
    height: 50px;
}

.text {
    color: white;
    text-align: center;
}

.rounded {

    margin-top: 20px;

}

.font-welcome {

    font-weight: 400;
}

.footerstyle {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 70px;
    width: 100%;
    border-radius: 0;
}